name: Update Winget PackageList

on:
  workflow_dispatch:
  schedule:
    - cron: "23 11 * * 1,3,5"  # MO, MI, FR um 12:23 MEZ (UTC+1)

jobs:
  run-script:
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Run Update-WingetPackageList
        shell: pwsh
        run: |
          ./Update-WingetPackageList.ps1

      - name: Upload Winget CSV
        uses: actions/upload-artifact@v4
        with:
          name: winget-package-list
          path: winget-db/PackageList/AllWingetPackages.csv
          retention-days: 14
